.background{
    background-color: rgb(113, 20, 242);
}
.active{
    border-bottom: 5px solid white;
}
.mytoggler{
    width: 100%;
    float: right;
}
.mytogglerline{
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 5px;
}
.contact{
    width: 100%;
    border: 1px solid rgb(225, 222, 222);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(70, 68, 68);
    font-size: 25px;
}
.contact:hover{
    box-shadow: 5px 5px 10px gray;
}